.color {

  &_second {
    color: $color-second;
  }

  &_fifth {
    color: $color-fifth;
  }

  &_sixth {
    color: $color-sixth;
  }

  &_fourth {
    color: $color-fourth;
  }

  &_eighth {
    color: $color-eighth;
  }
}