/***** Font-size *****/
$font-size-main: 1rem;
//$font-size-h1: 3.9rem; //68/18
$font-size-h2: 2.2222222222222222222222222222222rem; //40/18
$font-size-h3: 2.5rem; //45/18
$font-size-h4: 1.2777777777777777777777777777778rem; //23/18
$font-size-logo: 30px; //30/18

/***** Colors *****/
$color-first: #616368;   //main
$color-second: #242f51;  //title
$color-third: #2500f9;   //blue
$color-fourth: #f55767;  //light red
$color-fifth: #2563ff;   //light blue
$color-sixth: #40975f;   //light green
$color-seventh: #999ca5; //light main
$color-eighth: #eff3f8;  //light gray
$color-ninth: #fcae61;   //cream
$color-tenth: #e2eaed;

/***** Mixins *****/
@mixin media-breakpoint-up($width) {
  @media (min-width: $width + 1) {
    @content;
  }
}

@mixin media-breakpoint-down($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin media-breakpoint-between($min-width, $max-width) {
  @media (min-width: $min-width + 1) and (max-width: $max-width) {
    @content;
  }
}

@mixin column($screen-width, $count) {
  flex-shrink: 0;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;

  @include media-breakpoint-up($screen-width) {
    flex-basis: (100% / 12 * $count);
  }
}


html {
  font-size: 12px;

  @include media-breakpoint-up(760px) {
    font-size: 14px;
  }

  @include media-breakpoint-up(1000px) {
    font-size: 16px;
  }

  @include media-breakpoint-up(1200px) {
    font-size: 18px;
  }
}

body {
  font-family: Poppins, sans-serif;
  font-size: $font-size-main;
  font-style: normal;
  font-weight: normal;
  color: $color-first;
  line-height: 1.6em;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: {
    right: 10px;
    left: 10px;
  }
}

.font-main {
  font-family: Poppins, sans-serif;
  font-size: $font-size-main;
  font-style: normal;
  font-weight: normal;
}

.font-h1 {
  font-family: Poppins, sans-serif;
  font-size: 2.9rem;
  font-style: normal;
  font-weight: bold;
  color: $color-second;
  line-height: 1.3em;

  @include media-breakpoint-up(500px) {

  }
}

.font-h2 {
  font-family: Poppins, sans-serif;
  font-size: $font-size-h2;
  font-style: normal;
  font-weight: bold;
  color: $color-second;
  line-height: 1.2em;
}

.font-h3 {
  font-family: Poppins, sans-serif;
  font-size: $font-size-h3;
  font-style: normal;
  font-weight: bold;
}

.font-h4 {
  font-family: Poppins, sans-serif;
  font-size: $font-size-h4;
  font-style: normal;
  font-weight: bold;
  color: $color-second;
}