$font-size-main: 18px;
$font-size-h1: 68px;
$font-size-h2: 40px;
$font-size-h3: 45px;
$font-size-h4: 23px;
$font-size-logo: 30px;

$color-first: #616368;   //main
$color-second: #242f51;  //title
$color-third: #2500f9;   //blue
$color-fourth: #f55767;  //light red
$color-fifth: #2563ff;   //light blue
$color-sixth: #40975f;   //light green
$color-seventh: #999ca5; //light main
$color-eighth: #eff3f8;  //light gray
$color-ninth: #fcae61;   //cream
$color-tenth: #e2eaed;