.features-app {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-up(1000px) {
      max-width: 1200px;
      justify-content: space-between;
      margin-left: 0;
    }
  }

  &__img {
    position: absolute;
    opacity: 0.2;
    z-index: -1;
    transform: scaleX(-1);
    & img {
      width: 85%;
    }

    @include media-breakpoint-up(1000px) {
      position: static;
      display: block;
      flex: 0 1 70%;
      margin-right: 0;
      margin-top: 120px;
      opacity: 1;

      & img {
        width: 100%;
      }
    }

    @include media-breakpoint-up(1400px) {
      flex: 0 1 120%;
      margin-right: 45px;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 0;

    @include media-breakpoint-up(1000px) {
      text-align: left;
    }
  }

  &__subtext {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 60px;

    @include media-breakpoint-up(1000px) {
      text-align: left;
    }
  }

  &__description-title {
    margin-bottom: 5px;
  }

  &__items-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include media-breakpoint-up(1000px) {
      display: block;
    }
  }

  &__item {
    text-align: center;
    margin-bottom: 30px;
    max-width: 250px;

    @include media-breakpoint-up(1000px) {
      text-align: left;
      display: flex;
      align-items: center;
      margin-top: 10px;
      margin-right: 50px;
      max-width: 100%;
    }
  }

  &__description-title {
    margin-top: 0;
  }

  &__icon {
    @include media-breakpoint-up(1000px) {
      margin-right: 30px;
    }
  }
}