.header {
  position: fixed;
  left: 0;
  right: 0;
  padding: {
    top: 35px;
    bottom: 15px;
  }
  background-color: #fdfdfe;
  z-index: 100;

  @include media-breakpoint-up(765px) {
    position: absolute;
  }

  &__container {
    padding: {
      right: 10px;
      left: 10px;
    }
    height: 100%;

    @include media-breakpoint-up(765px) {
      display: flex;
      align-items: center;
    }

    @include media-breakpoint-up(1170px) {
      max-width: 1170px;
      margin: 0 auto;
    }
  }
}