@mixin circle($size, $colorGradientFirst, $colorGradientSecond, $colorCenter) {
  width: $size;
  height: $size;
  border: 5px double transparent;
  border-radius: 80px;
  background-image: linear-gradient($colorCenter, $colorCenter), radial-gradient(circle at top left, $colorGradientFirst,$colorGradientSecond);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.shape {
  position: absolute;
  &__circle-first {
    @include circle(15px, #f98d6c, #ff646e, #fdfdfe);
  }
  &__circle-second {
    @include circle(15px, $color-tenth, $color-tenth, #fdfdfe);
  }
  &__rectangle {
    width: 15px;
    height: 15px;
    border: 5px solid $color-tenth;
    background-color: transparent;
    transform: rotate(45deg);
  }
  &__plus {
    width: 0;
    height: 20px;
    border-left: 3px solid #6883de;
    opacity: 0.6;
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translate(-57%, -50%);
      width: 20px;
      height: 0;
      border-top: 3px solid #6883de;
    }
  }
  &__cross {
    width: 0;
    height: 15px;
    border-left: 3px solid #6883de;
    opacity: 0.3;
    transform: rotate(45deg);
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translate(-60%, -50%);
      width: 15px;
      height: 0;
      border-top: 3px solid #6883de;
    }
  }
}