.ultimate-features {
  overflow: hidden;
  margin-top: 50px;

  @include media-breakpoint-up(1000px) {
    margin-top: 80px;
  }

  &__container {
    position: relative;
    text-align: center;
    margin-right: 0;
    max-width: 1350px;
    padding-bottom: 70px;

    @include media-breakpoint-up(1000px) {
      display: flex;
      align-items: center;
      text-align: left;
      padding-bottom: 160px;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
  }

  &__title {

    @include media-breakpoint-up(1000px) {
      max-width: 450px;
    }
  }

  &__subtext {

    @include media-breakpoint-up(1000px) {
      max-width: 500px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include media-breakpoint-up(1000px) {
      margin-top: 50px;
      margin-bottom: 20px;
    }

    @include media-breakpoint-up(1000px) {
      justify-content: space-between;
    }
  }

  &__item {
    max-width: 300px;
    margin: {
      right: 10px;
      left: 10px;
    }
  }

  &__img {
    position: absolute;
    top: -115px;
    width: 100%;
    opacity: 0.1;

    @include media-breakpoint-up(1000px) {
      position: static;
      opacity: 1;
      flex: 0 1 88%;
      margin-right: -10px;
      margin-left: -90px;
      margin-top: 70px;

      & img {
        width: 100%;
      }
    }

    @include media-breakpoint-up(1200px) {
      margin-left: -40px;
    }

    @include media-breakpoint-up(1400px) {
      flex: 0 1 100%;
      margin-left: 0;
    }
  }

  &__btn {
    padding: {
      right: 50px;
      left: 50px;
    }
  }
}