@import "~normalize.css";
@import "node_modules/slick-carousel/slick/slick";
@import "node_modules/magnific-popup/src/css/main";
@import "styles/sass/fonts";
@import "styles/sass/variables";
@import "styles/sass/color";
@import "styles/sass/shape";
@import "styles/sass/button";
@import "styles/sass/logo";
@import "styles/sass/menu";
@import "styles/sass/header";
@import "styles/sass/intro";
@import "styles/sass/trusted";
@import "styles/sass/features-app";
@import "styles/sass/smart-jackpot";
@import "styles/sass/designed-and-build";
@import "styles/sass/choose-our-app";
@import "styles/sass/ultimate-features";
@import "components/price-holder/price-holder";
@import "styles/sass/card";
@import "styles/sass/offer";
@import "styles/sass/testimonial";
@import "styles/sass/persone";
@import "styles/sass/faq";
@import "styles/sass/download-app";
@import "styles/sass/footer";
@import "~@/components/popup/popup.scss";
